*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #83dba8;
    overflow: hidden;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.navbar-brand{
    font-size: 2rem;
    font-family: 'Francois One';
    font-weight: 700;
}

.navbar-brand-link{
    text-decoration: none;
    font-family: 'Francois One';
}

.navbar-menu{
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar-menu-links{
    color: #202216;
    text-decoration: none;
}

.logoutBtn{
    padding: 8px 16px;
    border: 2px solid black;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(255, 123, 123);
    box-shadow: 2px 2px 0px 1px black;
    transition: 0.2s ease-out;
}

.logoutBtn:hover{
    box-shadow: none;
    background-color: rgb(255, 100, 100);
}